html.dark {
  .CustomizeHomeFeatures {
    .item {
      article {
        .contents {
          .avatar {
            &::after {
              background-image: url(/images/icon-imgDark.svg);
            }
          }
        }
      }
    }
  }
}

@mixin scrollbar-style($w:0, $h:0, $bg: transparent, $slider: transparent) {
  &::-webkit-scrollbar {
    width: $w;
    height: $h;
  }

  // 背景
  &::-webkit-scrollbar-track {
    background-color: $bg;
  }

  // 滑块
  &::-webkit-scrollbar-thumb {
    @apply rounded-sm;
    background-color: $slider;
  }
}

input:focus {
  outline: none;
}


.CustomizeHomeFeatures {
  display: grid !important;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  .item {
    overflow: auto;
    background-color: var(--home-card-bg);
    // filter: drop-shadow(5px 5px 10px #000);
    box-shadow: 0 0px 10px 0px var(--home-card-shadow);
    img {
      width: 100%;
      height: 100%;
    }
    article {
      width: 100%;
      height: auto;
      .entry-media {
        overflow: auto;
      }
      .contents {
        padding: 10px 10px 20px 10px;
        box-sizing: border-box; 
        .avatar {
          position: relative;
          z-index: 10;
          margin-top: -28px;
          margin-left: -10px;
          width: 100px;
          height: 36px;
          img{
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            left: 0;
            z-index: 9;
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          &::after {
            background-image: url();
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: right top;
            background-repeat: no-repeat;
            background-size: 100px 30px;
            background-image: url(/images/icon-img.svg);
            top: -3px;
            left: 50%;
            transform: translate(-50%,0);
            z-index: -1;
          }
        }
        .title {
          h2 {
            padding-bottom: 0;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: -0.2px;
            border: none;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          } 
        }
        .content {
          font-size: 13px;
          margin-top: 10px;
          // color: #aaa;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          margin-bottom: 10px;
        }
      }
    }
  }
}


.home{
  .hero {
    .Home-blog-button {
      --confetti-1: #892AB8;
      --confetti-2: #EA4C89;
      --confetti-3: #FFFF04;
      --confetti-4: #4AF2FD;
      --z-before: -6;
      display: inline-block;
      outline: none;
      cursor: pointer;
      position: relative;
      border: 0;
      background: none;
      padding: 9px 22px 9px 16px;
      line-height: 26px;
      font-family: inherit;
      font-weight: 600;
      font-size: 14px;
      color: var(--color);
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
      transition: transform var(--transform-duration, .4s);
      will-change: transform;
      transform-style: preserve-3d;
      transform: perspective(440px) rotateX(calc(var(--rx, 0) * 1deg)) rotateY(calc(var(--ry, 0) * 1deg)) translateZ(0);
      &:hover {
          --transform-duration: .16s;
      }
      &.success {
          --confetti-scale: 0;
          --stroke-dashoffset: 15;
      }
      &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          border-radius: 12px;
          transform: translateZ(calc(var(--z-before) * 1px));
          background: var(--background);
          box-shadow: 0 4px 8px var(--shadow);
      }
      .icon,
      span {
          display: inline-block;
          vertical-align: top;
          position: relative;
          z-index: 1;
      }
      .icon {
          --z: 2px;
          width: 24px;
          height: 14px;
          margin: 8px 16px 0 0;
          transform: translate(calc(var(--icon-x, 0) * 1px), calc(var(--icon-y, 0) * 1px)) translateZ(2px);
          .confetti {
              position: absolute;
              left: 17px;
              bottom: 9px;
              svg {
                  width: 18px;
                  height: 16px;
                  display: block;
                  stroke-width: 1px;
                  fill: none;
                  stroke-linejoin: round;
                  stroke-linecap: round;
                  * {
                      transition: stroke-dashoffset .2s;
                      stroke-dasharray: 15 20;
                      stroke-dashoffset: var(--stroke-dashoffset, 0);
                      stroke: var(--stroke-all, var(--stroke, var(--confetti-2)));
                      &:nth-child(2) {
                          --stroke: var(--confetti-3);
                      }
                      &:nth-child(3) {
                          --stroke: var(--confetti-1);
                      }
                  }
              }
              .emitter {
                  position: absolute;
                  left: 4px;
                  bottom: 4px;
                  pointer-events: none;
                  div {
                      width: 4px;
                      height: 4px;
                      margin: -2px 0 0 -2px;
                      border-radius: 1px;
                      position: absolute;
                      left: 0;
                      top: 0;
                      transform-style: preserve-3d;
                      background: var(--confetti-all, var(--b, none));
                  }
              }
              i {
                  width: 4px;
                  height: 4px;
                  display: block;
                  transform: scale(var(--confetti-scale, .5));
                  position: absolute;
                  transition: transform .25s;
                  left: var(--left, -1px);
                  top: var(--top, 3px);
                  border-radius: var(--border-radius, 1px);
                  background: var(--confetti-background, var(--confetti-3));
                  &:nth-child(2) {
                      --left: 9px;
                      --top: -1px;
                      --border-radius: 2px;
                      --confetti-background: var(--confetti-4);
                  }
                  &:nth-child(3) {
                      --left: 5px;
                      --top: 3px;
                      --confetti-background: var(--confetti-1);
                  }
                  &:nth-child(4) {
                      --left: 10px;
                      --top: 14px;
                      --confetti-background: var(--confetti-2);
                  }
                  &:nth-child(5) {
                      --left: 9px;
                      --top: 7px;
                      --confetti-background: var(--confetti-4);
                  }
                  &:nth-child(6) {
                      --left: 6px;
                      --top: 8px;
                      --border-radius: 2px;
                      --confetti-background: var(--confetti-2);
                  }
              }
          }
          .cannon {
              position: relative;
              width: 24px;
              height: 14px;
              transform: translate(0, 3px) rotate(-45deg);
              filter: drop-shadow(-2px 2px 2px var(--cannon-shadow));
              &:before,
              &:after {
                  content: '';
                  display: block;
                  height: 14px;
              }
              &:before {
                  background: linear-gradient(var(--cannon-dark), var(--cannon-light) 50%, var(--cannon-dark));
                  width: 100%;
                  -webkit-clip-path: polygon(25px -1px, 0 52%, 25px 15px);
                  clip-path: polygon(25px -1px, 0 52%, 25px 15px);
              }
              &:after {
                  width: 6px;
                  position: absolute;
                  right: -3px;
                  top: 0;
                  border-radius: 50%;
                  box-shadow: inset 0 0 0 .5px var(--cannon-light);
                  background: linear-gradient(90deg, var(--cannon-dark), var(--cannon-light));
              }
          }
      }
      &.white {
          --background: #fff;
          --color: #1E2235;
          --border: #E1E6F9;
          --shadow: none;
          --cannon-dark: #103FC5;
          --cannon-light: #275EFE;
          --cannon-shadow: #{rgba(#00093D, .2)};
          &:before {
              box-shadow: inset 0 0 0 1px var(--border);
          }
      }
      &.grey {
          --background: #404660;
          --cannon-shadow: #{rgba(#0D0F18, .2)};
          --cannon-dark: #D1D6EE;
          --cannon-light: #FFFFFF;
      }
    }
  }
}

/* 404 页面样式 */
.Customize-error {
  width: 100vw;
  height: 100vh;
}

html {
  overflow: hidden;
  overflow-y: overlay;
  @include scrollbar-style($w: 5px,$slider: #c5c5c5);
}